PORT=8087
LOG_LEVEL=info
POSTGRES_USER=user_user
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=user_db
DATABASE_URL=postgres://user_user:YOUR_PASSWORD@localhost:5437/user_db?sslmode=disable
JWT_SECRET=YOUR_SECRET_KEY_HERE
